@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  font-family: 'CustomFont', sans-serif;
  color: #a09a9e !important;
}

.test {
  color: #c8de84;
}

.form-control {
  display: none;
}

.navbar-text {
  font-size: 24px;
}

.hero-bg-left {
  background-color: #ffffff;
}

.hero-bg-right {
  background-color: #013bb0;
}

.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

.calc-blue {
  color: #0076ba;
}

.clicked {
  border: 4px solid #dc2627;
}

.hover-email-address,
.hover-email-address-reconstruction {
  display: none;
}

.hover-email-us:hover ~ .hover-email-address {
  display: inline;
}

.hover-email-us:hover ~ .hover-email-address-reconstruction {
  display: inline;
  font-size: 17.5px;
}

.hover-email-us:hover {
  display: none;
}

.menu a {
  color: #007ad6;
  width: 105%;
  text-align: right;
  padding-right: 12px;
}

.menu a:hover {
  background-color: #007ad6;
  color: white;
}

.noBorder {
  border: none !important;
}

button {
  cursor: pointer;
}

.realsluzby {
  background-image: linear-gradient(
      to bottom,
      #0076babf,
      rgba(5, 97, 131, 0.645),
      rgba(0, 166, 255, 0.829)
    ),
    url('./../public/realsluzby1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 175px;
}

.alfa-slab {
  font-weight: 400;
  font-style: normal;
}

.portfolio-hero {
  background-image: url('./../public/port_hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.bluemt {
  margin-top: 5.5%;
}

.bluemt2 {
  margin-top: 8%;
}

.arrows {
  margin-top: -2.5%;
}

.arrows2 {
  margin-top: -1%;
}

@media screen and (min-width: 1920px) {
  .arrows {
    margin-top: 12%;
  }

  .arrows2 {
    margin-top: 20%;
  }
}

@media screen and (max-height: 630px) {
  .bluemt {
    margin-top: 12.5%;
  }

  .bluemt2 {
    margin-top: 22.5%;
  }

  .bluemt3 {
    margin-top: 30%;
  }

  .arrows {
    margin-top: 15%;
  }

  .arrows2 {
    margin-top: 21.5%;
  }
  .mdtt {
    margin-top: -41px;
  }

  .mdt {
    margin-top: -6px;
  }
}

@media screen and (max-width: 768px) {
  .realsluzby {
    width: 100vw;
    height: 225px;
  }

  .arrows {
    margin-top: -16%;
  }

  .arrows2 {
    margin-top: -16%;
  }
}
